:root {
    --cor-primaria: #00AEEF;
    --cor-secundaria: #D8D8D8;
    --cor-terciaria: #222831;
    --cor-sombra-azul: #00afef85;
    --cor-cinza: #495057;

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    background-image: url('/resources/fundo.jpeg');
    background-repeat: no-repeat;
}


/* Estilos para o header */
.header-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    z-index: 1000;
    background-color: var(--cor-cinza);
}

.header-container .grid-item img {
    margin: 5px;
    width: 30px;
    height: 30px;
}

.header-container p {
    display: inline;
    color: white;
    margin: 0px;
}

.grid-item:nth-child(2),
.grid-item:nth-child(4) {
    align-self: center;
    text-align: right;
}

.grid-item:nth-child(3),
.grid-item:nth-child(5) {
    text-align: left;
    align-self: center;
}

.grid-item:nth-child(6){
    align-self: center;
    text-align: right;
}

#logo {
    height: 100px;
    width: 100px;
    margin-right: 15px;
}
/* Estilos para a hero section */
.hero {
    position: relative;
    z-index: 900;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 150px;
    /*background-image: url('/resources/fundo.jpeg');*/
    /* Outras propriedades existentes */
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: 0;
}

.hero h2 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0);
    color: var(--cor-secundaria);

}

/* Estilos para o filters-section */
.filters-section {
    position: relative;
    background: var(--cor-secundaria);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 40px;
    margin-right: 40px;
}

.property-card img {
    width: 100%;
    border-radius: 8px;
}

/* Estilos para os cards de propriedades */
.property-card {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
}

.property-card:hover {
    transform: scale(1.02);
}

.property-card .card-image {
    flex: 0 0 60%;
    overflow: hidden;
}

.property-card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.property-card .card-content {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
}

.property-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.property-features,
.property-location {
    font-size: 0.85rem;
    color: #666;
    margin-bottom: 5px;
}

.property-features span,
.property-location span {
    display: block;
}

.property-price {
    text-align: center;
    margin-top: 10px;
}

.property-price .btn {
    width: auto;
    margin: 0 auto;
}

.card:hover {
    box-shadow: 5px 5px 5px var(--cor-sombra-azul);
    scale: 1.05;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.btn-primary {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    margin-top: 100px;
    margin-bottom: 60px;
}

/* Estilos para o footer */
footer {
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    text-align: center;
    padding: 10px 0;
}

/* Estilização do banner */
#featuredBanners {
    max-width: 70%;
    max-height: 400px;
}

#featuredBanners .carousel-inner img {
    width: 100%;
    height: auto;
}



/* Segunda linha: características */
.property-features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    font-size: 0.9rem;
    margin-bottom: 5px;
    width: 100%;
}

/* Estilos para o cabeçalho */


nav {
    padding-right: 10px;
}

nav a {
    padding-left: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--cor-primaria);
}

/* Estilo para a página Sobre */
.sobre-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.sobre-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.sobre-container p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.sobre-container ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Estilo para o container da página Sobre */
.sobre-container {
    width: 30%;
    margin-left: 5%;
    margin-right: auto;
    padding: 20px;
}

/* Mobile */
@media (max-width: 768px) {


    body {
        background-image: url('/resources/fundo.jpeg');
        background-repeat: no-repeat;
    }

    .hero h2 {
        padding-top: 20px;
        padding-bottom: 30px;
        font-size: 1.5rem;

    }

    .filters-section {
        margin-left: 20px;
        margin-right: 20px;
    }


    .header-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        padding: 0;
    }

    .header-container .grid-item-top:nth-child(1) {
        justify-self: start;
        margin-left: 5px;

    }

    .header-container .grid-item-top:nth-child(2) {
        justify-self: end;
        margin-right: 5px;

    }

    .header-contacts {
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: space-evenly;
    }

    .header-contacts .grid-item {
        justify-items: center;
        text-align: center;
        align-content: center;
    }

    .grid-item:nth-child(1),
    .grid-item:nth-child(3) {
        align-self: self-end;
        text-align: right;
    }

    .grid-item:nth-child(2),
    .grid-item:nth-child(4) {
        text-align: left;
    }

    .header-contacts .grid-item img {
        margin: 5px;
        width: 30px;
        height: 30px;
    }



    #featuredBanners {
        max-width: 100%;
    }

    .property-card {
        width: 100%;
        max-width: 100%;
    }

    .sobre-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }




    nav {
        padding-right: 11px;
        gap: 11px;
    }

    .logo {
        padding: 5px 5px;
        margin: 0px;
    }


}