:root {
    --cor-primaria: #00AEEF;
    --cor-secundaria: #D8D8D8;
    --cor-terciaria: #222831;
    --cor-sombra-azul: #00afef85;
    --cor-cinza: #495057;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    background-image: url('/resources/fundoMenor.jpeg');
    background-repeat: no-repeat;
    background-size: 100vw;
}

.header-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-areas: "logo contact1 contact1 contact2 contact2 menu";
    align-items: center;
    gap: 10px;
    background-color: var(--cor-cinza);
}

.logo img {
    height: 100px;
}

.contact {
    display: flex;
    align-items: center;
    color: var(--cor-secundaria);
    justify-self: center;
}


.contact p {
    margin-top: revert;
}

.contact img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.contact a img {
    transition: transform 0.3s ease;
    /* Transição suave */
}

.contact a img:hover {
    transform: scale(1.4);
    /* Aumenta o tamanho do ícone */
}

.menu {
    grid-area: menu;
    justify-self: end;
}

.filters-section {
    background-color: var(--cor-secundaria);
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 8px;
}

.logo {
    grid-area: logo;
    padding-left: 10px;
}

.contact:nth-of-type(1) {
    grid-area: contact1;
}

.contact:nth-of-type(2) {
    grid-area: contact2;
}

.hero {
    height: 200px;
}

.hero h2 {
    justify-self: center;
    align-self: center;
    padding-top: 90px;
    color: var(--cor-secundaria);
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px black;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.btn-primary {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

.text-center {
    padding-bottom: 10px;
    padding-top: 10px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    margin-top: 100px;
    margin-bottom: 60px;
}

footer {
    background-color: var(--cor-cinza);
    color: var(--cor-secundaria);
    padding: 2px;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-logo img {
    height: 150px;
    padding-left: 10px;
}

.footer-info {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.footer-info li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: flex-end;
}

.footer-info li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.footer-container p {
    width: 100%;
    text-align: center;
    margin-bottom: 2px;

}

#featuredBanners {
    max-width: 70%;
    max-height: 400px;
}

#featuredBanners .carousel-inner img {
    width: 100%;
    height: auto;
}

.property-card {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
}

.property-card:hover {
    transform: scale(1.02);
}

.property-card .card-image {
    flex: 0 0 60%;
    overflow: hidden;
}

.property-card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.property-card .card-content {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
}

.property-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.property-features {
    font-size: 0.85rem;
    color: #666;
    margin-bottom: 5px;
}

.property-price {
    text-align: center;
    margin-top: 10px;
}

.property-price .btn {
    width: auto;
    margin: 0 auto;
}

.card:hover {
    box-shadow: 5px 5px 5px var(--cor-sombra-azul);
    transform: scale(1.05);
}

nav {
    padding-right: 20px;
}

nav a {
    padding-left: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--cor-primaria);
}

/* Mobile */
@media (max-width: 1090px) {
    body {
        background-image: url('/resources/fundoMenor.jpeg');
        background-repeat: no-repeat;
        background-size: auto;
    }

    .hero {
        height: 70px;
    }

    .hero h2 {
        justify-self: center;
        align-self: center;
        padding-top: 20px;
        color: var(--cor-secundaria);
        font-size: 1.5rem;
        text-shadow: 1px 1px 2px black;

    }

    .filters-section {
        background-color: var(--cor-secundaria);
        padding-left: 20px;
        padding-right: 20px;
        margin: 20px;
        border-radius: 8px;
    }

    #featuredBanners {

        max-width: 100%;
        max-height: 150px;

    }

    .property-card {
        width: 100%;
        max-width: 100%;
    }

    nav {
        padding-right: 11px;
        gap: 11px;
    }

    .header-container {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "logo menu"
            "contact1 contact2";
        gap: revert;
    }

    .logo {
        margin: 0px;
        grid-area: logo;
    }

    .menu {
        grid-area: menu;
    }

    .contact:nth-of-type(1) {
        grid-area: contact1;
        justify-content: center;
    }

    .contact:nth-of-type(2) {
        grid-area: contact2;
        justify-content: center;
    }

    .contact {
        justify-self: center;
        align-items: center;
    }

    .contact p {
        margin-top: revert;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-info {
        text-align: left;
        align-items: center;
    }

    .footer-info li {
        justify-content: flex-start;
    }

    .footer-info li img {
        margin-right: 10px;
    }
}